<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="$!{rc.contextPath}/static/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="$!{rc.contextPath}/static/styles/kendo.rtl.min.css" rel="stylesheet" />
        <link href="$!{rc.contextPath}/static/styles/kendo.default.min.css" rel="stylesheet" />
        <link href="$!{rc.contextPath}/static/styles/kendo.dataviz.min.css" rel="stylesheet" />
        <link href="$!{rc.contextPath}/static/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
        <link href="$!{rc.contextPath}/static/styles/kendo.silver.min.css" rel="stylesheet" />

        <script src="$!{rc.contextPath}/static/js/jquery.min.js"></script>
        <script src="$!{rc.contextPath}/static/js/kendo.all.min.js"></script>
        <script src="$!{rc.contextPath}/static/js/kendo.web.min.js"></script>
        <script src="$!{rc.contextPath}/static/js/kendo.grid.min.js"></script>
        <script src="$!{rc.contextPath}/static/js/messages/kendo.messages.zh-CN.min.js"></script>
        <script src="$!{rc.contextPath}/static/js/kendo.editor.min.js"></script>
        <script src="$!{rc.contextPath}/static/js/jszip.min.js"></script>

        <!--从当前页面，引入模块加载器esl.js-->
        <script type="text/javascript"  src="$!{rc.contextPath}/static/js/echarts/echarts.js"></script>
        <script type="text/javascript"  src="$!{rc.contextPath}/static/js/echarts/esl.js"></script>

        ## ztree
        <link href="$!{rc.contextPath}/static/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
        <script src="$!{rc.contextPath}/static/zTree/js/jquery.ztree.core.js"></script>
    　　 <script src="$!{rc.contextPath}/static/zTree/js/jquery.ztree.excheck.js"></script>

    </head>

</html>
