<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.zk.ssm_demo.user.entities.User" alias="User"/>
		<typeAlias type="com.zk.ssm_demo.role.entities.Role" alias="Role"/>
		<typeAlias type="com.zk.ssm_demo.permission.entities.Permission" alias="Permission"/>
		<typeAlias type="com.zk.ssm_demo.userRoleRelation.entities.UserRoleRelation" alias="UserRoleRelation"/>
		<typeAlias type="com.zk.ssm_demo.rolePermissionRelation.entities.RolePermissionRelation" alias="RolePermissionRelation"/>
		<typeAlias type="com.zk.function.ftp.entities.FtpEntity" alias="FtpEntity"/>
		<typeAlias type="com.zk.function.ztree.entities.Ztree" alias="ZtreeEntity"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/zk/ssm_demo/user/mappers/UserDao.xml"/>
		<mapper resource="com/zk/ssm_demo/role/mappers/RoleDao.xml"/>
		<mapper resource="com/zk/ssm_demo/permission/mappers/PermissionDao.xml"/>
		<mapper resource="com/zk/ssm_demo/userRoleRelation/mappers/UserRoleRelationDao.xml"/>
		<mapper resource="com/zk/ssm_demo/rolePermissionRelation/mappers/RolePermissionRelationDao.xml"/>
		<mapper resource="com/zk/function/ftp/mappers/FtpDao.xml"/>
		<mapper resource="com/zk/function/ztree/mappers/ZtreeDao.xml"/>
	</mappers>
</configuration>