<!DOCTYPE html>
    #parse("platform/_header.vm")  ## 引入js和css文件
<html>
<script>


    $(function() {

        $("#btn").click(function() {
            //只能是zip才能激活下载框
            location.href = "$!{rc.contextPath}/static/upload/test.zip";
        });

    });//----------------jQuery启动函数结束--------------------


</script>

<body>

    ## eCharts容器
    <div id="main" style="width: 1000px;height:600px;" align="center"></div>

    <input type="button" id="btn" value="下载">

</body>
    #parse("platform/_footer.vm")
</html>