<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
    #parse("platform/_header.vm")
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <style>
        *{margin:0;padding:0}
        #slide{position:absolute;height:300px;width:260px;color:#FA8E93;overflow:hidden;border:1px solid #ccc}
        #slide p{height:34px;line-height:34px;overflow:hidden}
        #slide span{float:right}
    </style>
</head>

<body bgcolor="#FFFFFF">
<div class="ui-layout-center" id="subMain" align="center" style="background-color: #F4F6FA">
    <div class="ui-layout-north">
    </div>

    <div style="padding: 20px">
        <font style="font-size: 25px">
            用户列表展示
        </font>
    </div>

    <div align="center">
        <table style="margin-right: 17px ; background-color: #F0F4F9;" width="1350" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#E1E5E6">
            <tr style="height: 40px">
                <td width="15%"  align="center">头像</td>
                <td width="15%"  align="center">姓名</td>
                <td width="15%" align="center">年龄</td>
                <td width="25%" align="center">住址</td>
                <td width="30%" align="center">创建时间</td>
            </tr>
        </table>
    </div>

    <div align="center" id="list1" style="overflow: auto; height: 592; " >
        <div id="list2" >
            <table id="dataTable" width="1350" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#E1E5E6">
                #foreach($data in $dataList)
                    <tr style="height: 80px">
                        <td width="15%" align="center">
                            <img src="$!{photo_pre}/$!{data.photo}">
                        </td>
                        <td width="15%" align="center">$!{data.name}</td>
                        <td width="15%" align="center">$!{data.age}</td>
                        <td width="25%" align="center">$!{data.address}</td>
                        <td width="30%" align="center">$!{data.s_createTime}</td>
                    </tr>
                #end
            </table>
        </div>
        <div id="list3" ></div>
    </div>

</div>
    #parse("platform/_footer.vm")

<script type="text/javascript">
    var speed = 25;
    var list1 = $("#list1")[0];
    var list2 = $("#list2")[0];
    var list3 = $("#list3")[0];
    list3.innerHTML = list2.innerHTML;
    function Marquee() {
        if (list3.offsetTop - list1.scrollTop <= 0) {
            list1.scrollTop -= list2.offsetHeight;
        } else {
            list1.scrollTop++;
        }
    }
    var MyMar = setInterval(Marquee, speed);

    list1.onmouseover = function() {
        clearInterval(MyMar);
        $("#list3").html("");
    }

    list1.onmouseout = function() {
        MyMar = setInterval(Marquee, speed);
        $("#list3").html($("#list2").html());
    }
</script>

<script type="text/javascript">

    $(function() {

        changeColor();

        //设置定时任务,每分钟刷新一次数据
        window.setInterval(refreshData, 1000 * 60);
    });



    function refreshData() {
        window.location = "$!{rc.contextPath}/function/roll/toList.do";
        changeColor();
        alert("数据刷新");
    }

    function changeColor() {
        var trs = $("#list1 tr");
        $.each(trs,function(i,v) {
            if(i % 2 == 0) {
                $(this).css("background-color","#D0DAE5");
            }else {
                $(this).css("background-color","#DEE5ED");
            }
        });
    }

</script>


</body>
</html>