<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="${rc.contextPath}/static/js/jquery.min.js"></script>
</head>



<body>

编辑用户

</body>
</html>