<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="${rc.contextPath}/static/js/jquery.min.js"></script>
</head>

<body>

    <div style="padding-bottom: 20px"></div>
    <table width="60%" border="1px" cellspacing="0" cellpadding="0" align="center">
        <caption style="padding: 20px">用户列表展示</caption>
        <tr align="center">
            <td>姓名</td>
            <td>年龄</td>
            <td>地址</td>
        </tr>

        #if($userList.size() == 0)
            <tr align="center">
                <td colspan="3">暂无数据</td>
            </tr>
        #else
            #foreach($user in $userList)
                <tr align="center" id=$user.id>
                    <td>$user.name</td>
                    <td>$user.age</td>
                    <td>$user.address</td>
                </tr>
            #end
        #end
    </table>


</body>
</html>