<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="${rc.contextPath}/static/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="${rc.contextPath}/static/bs_pagination/css/jquery.bs_pagination.min.css"
          type="text/css"/>

    <script type="text/javascript" src="${rc.contextPath}/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bootstrap_3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bs_pagination/js/jquery.bs_pagination.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/bs_pagination/js/localization/en.js"></script>
</head>

<script>

    var v_pageNo = 1;
    var v_pageSize = 5;
    var v_pageCount = 0;
    var v_totalCount = 0;

    $(function () {
        paging();


        //---------------修改的方法-----------------
        $("#userListTBody").on("click",".updateUser",function() {
            var v_id = $(this).attr("uid");
            window.location="$!{rc.contextPath}/user/toUpdate.do?id="+v_id;
        });

        //-------------------删除的方法----------------------
        $("#userListTBody").on("click",".deleteUser",function() {
            var v_id = $(this).attr("did");
            $.ajax({
                url:"$!{rc.contextPath}/user/delete.do",
                data:{id:v_id},
                type:"post",
                success:function(data) {
                    if(data) {
                        $("#"+v_id).remove();
                        paging();
                    }else {
                        alert("删除失败,请重试!");
                    }
                }
            });
        });

        //-----------------------查询的方法---------------------
        $("#searchBtn").click(function() {
            paging();
        });

        //-----------------导出的功能----------------------
        $("#exportBtn").click(function() {
            var v_name = $("#c_name").val();
            var v_age = $("#c_age").val();
            var v_address = $("#c_address").val();
            window.location="${rc.contextPath}/user/export.do?pageNo="+v_pageNo+"&pageSize="+v_pageSize+"&c_name="+v_name+"&c_age="+v_age+"&c_address="+v_address;
        });

        //------------------查询详情------------------
        $("#userListTBody").on("click",".detail",function() {
            var id = $(this).attr("did");
            window.location="${rc.contextPath}/user/toDetail.do?id="+id;
        });




    });//---------------------jQuery启动函数结束----------------------


    function paging() {
        $.ajax({
            url: '${rc.contextPath}/user/paging.do',
            data: {
                pageNo: v_pageNo,
                pageSize: v_pageSize,
                c_name:$("#c_name").val(),
                c_age:$("#c_age").val(),
                c_address:$("#c_address").val()
            },
            dataType: 'json',
            type: 'post',
            success: function (data) {
                v_totalCount = data.totalCount;
                v_pageCount = data.pageCount;
                var str = '';
                var userList = data.userList;

                $.each(userList, function (index, u) {
                    str += '<tr id="' + u.id + '">';
                    str += '<td width="30%" align="center"><a href="javascript:void(0);" class="detail" did="'+u.id+'">' + u.name + '</a></td>';
                    str += '<td width="30%" align="center">' + u.age + '</td>';
                    str += '<td width="30%" align="center">' + u.address + '</td>';
                    #if($permission.contains("HIGH_PERMISSION") or $permission.contains("MIDDLE_PERMISSION"))
                    str += '<td width="40%" align="center"><a class="updateUser" uid="' + u.id + '" href="javascript:void(0);">修改</a>&nbsp;|&nbsp;<a class="deleteUser" did="' + u.id + '" href="javascript:void(0);">删除</a></td>';
                    #end
                    str += '</tr>';
                });

                $("#userListTBody").html(str);
                //-------------翻页插件的回调函数----------------
                $("#pagingUserDiv").bs_pagination({
                    currentPage: v_pageNo,  //当前的页数
                    rowsPerPage: v_pageSize,  //每页显示的条数
                    totalPages: v_pageCount,   //总页数
                    totalRows: v_totalCount,   //总记录数
                    visiblePageLinks: 5,   //显示的卡片个数
                    showGoToPage: true,   //显示跳转到第几页
                    showRowsPerPage: true,  //每页显示多少条
                    showRowsInfo: true,  //显示记录行的信息
                    //点击翻页按钮执行操作的函数
                    //onChangePage 大小写注意!!!!
                    onChangePage: function (event, data) {
                        v_pageNo = data.currentPage;
                        v_pageSize = data.rowsPerPage;
                        v_pageCount = data.totalPages;
                        v_totalCount = data.totalRows;
                        paging();
                    }
                });
            }
        });
    }

</script>
<body>
<div style="padding-bottom: 20px"></div>
<table border="1px" cellpadding="0" cellspacing="0" align="center" width="70%">

    <div align="center">
        姓名:<input id="c_name" type="text">&nbsp;&nbsp;
        年龄:<input id="c_age" type="text">&nbsp;&nbsp;
        住址:<input id="c_address" type="text">&nbsp;&nbsp;
        <input id="searchBtn" type="button" value="查询">&nbsp;&nbsp;
        <input id="exportBtn" type="button" value="导出">&nbsp;&nbsp;

    #if($permission.contains("HIGH_PERMISSION") or $permission.contains("MIDDLE_PERMISSION"))
        <form style="padding: 20px" action="${rc.contextPath}/user/import.do" method="post" enctype="multipart/form-data">
            <input name="file" type="file">
            <input id="importBtn" type="submit" value="导入">
        </form>
    #end


    </div>

    <div align="center" style="padding:20px">用户列表</div>

    <thead>
    <tr>
        <td width="20%" align="center">姓名</td>
        <td width="20%" align="center">年龄</td>
        <td width="20%" align="center">住址</td>
    #if($permission.contains("HIGH_PERMISSION") or $permission.contains("MIDDLE_PERMISSION"))
        <td width="40%" align="center">操作</td>
    #end
    </tr>
    </thead>

    <tbody id="userListTBody">

    </tbody>

</table>


<div style="padding: 20px"></div>

<div id="pagingUserDiv" ></div>

</body>
</html>