<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<p>欢迎您~</p>

<a href="$!{rc.contextPath}/user/toRegister.do">注册</a><br><br>
<a href="$!{rc.contextPath}/user/toLogin.do">登录</a><br><br>
<a href="$!{rc.contextPath}/user/toList.do">查看用户列表</a><br><br>
<a href="$!{rc.contextPath}/user/toUserList.do">查看分页</a><br><br>

<a href="$!{rc.contextPath}/kendo/toList.do">Kendo UI</a><br><br>


<a href="$!{rc.contextPath}/profile/print.do">读取配置文件</a><br><br>

</body>
</html>