<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="${rc.contextPath}/static/js/jquery-1.11.1-min.js"></script>
</head>
<script>

    $(function() {

        $("#name").blur(function() {
            checkName();
        });

        $("#pwd").blur(function() {
            checkPwd();
        });

        $("#loginBtn").click(function() {
            if(checkName() && checkPwd()) {
                var v_name = $("#name").val();
                var v_pwd = $("#pwd").val();

                $.ajax({
                    url:" ${rc.contextPath}/user/login.do",
                    data:{name:v_name,password:v_pwd},
                    type:"post",
                    success:function(data) {
                        if(data) {
                            window.location = " ${rc.contextPath}/user/toMenu.do";
                        }else {
                            $("#s_msg").html("用户名或者密码错误");
                        }
                    }
                });

            } else {
                alert("请输入完整信息!");
            }
        });


    });

    function checkName() {
        var v_name = $.trim($("#name").val());
        if (v_name.length == 0) {
            $("#s_name").html("请输入用户名!");
            return false;
        }else {
            $("#s_name").html("");
            return true;
        }
    }

    function checkPwd() {
        var v_pwd = $.trim($("#pwd").val());
        if (v_pwd.length == 0) {
            $("#s_pwd").html("请输入密码!");
            return false;
        }else {
            $("#s_pwd").html("");
            return true;
        }
    }

</script>
<body>

<p>登录页面</p>
<form id="loginForm">
    用户名:<input id="name" type="text" name="name"><span id="s_name" style="color: red"></span><br>
    密码:<input id="pwd" type="password" name="password"><span id="s_pwd" style="color: red"></span><br>
    <input id="loginBtn" type="button" value="登录"><span id="s_msg" style="color: red"></span><br>


</form>

</body>
</html>